conda/linux/AppDir/usr
conda/linux/AppDir/*.desktop
conda/linux/AppDir/*.svg
conda/osx/APP
conda/win/FreeCAD_*
**.AppImage
**.dmg
**.7z
**-SHA256.txt
**packages.txt
**bundle_name.txt
**.DS_Store
conda/osx/APP/FreeCAD.app
