[Desktop Entry]
Version=1.0
Name=FreeCAD
Exec=AppRun
Icon=freecad
Type=Application
Categories=Engineering;
Comment=Feature based Parametric Modeler
Terminal=false
StartupNotify=true
NoDisplay=false
MimeType=application/x-extension-fcstd;
